/* Reset default margin and padding for the body */
body {
  margin: 0;
  padding: 0;
}

/* Ensure the entire app content stays within the viewport */
.App {
  text-align: center;
  overflow-x: hidden;
  max-width: 100vw;
}

/* Styles for the heading container */
.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw; /* Ensure the heading container does not exceed viewport width */
}

/* Font styles for the heading */
.headingFont {
  font-size: clamp(2rem, 0.3846rem + 5.2692vw, 8rem); /* Responsive font size */
  font-family: 'Raleway', sans-serif;
}


li::before {
  content: '\2023'; /* Unicode character for the desired marker */
  margin-right: 0.5em; /* Adjust spacing */
}